<html>
<head>
<meta charset="utf-8">
<title>123</title>
<script type="text/javascript" src="/static/reception/js/echarts.js"></script> 
<script src="/static/reception/js/vintage.js"></script>
</head>

<body style="margin:0px;">
<div style="min-width:1300px;background:#fef8ef;height:500px;">
<div id="main"  style="width: 600px;height:100%;display:inline-block;"></div>
<div id="calendar" style="width: 600px;height:100%;display:inline-block;"></div>
</div>

<script type="text/javascript"> 
var piechart = echarts.init(document.getElementById('main'),'vintage');
option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:['警告','正常','疑问']
    },
    series: [
        {
            name:'实时情况',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:{{ new_warning }}, name:'警告'},
                {value:{{ new_normal }}, name:'正常'},
                {value:{{ new_error }}, name:'错误'},
            ]
        }
    ]
};
piechart.setOption(option);
</script> 

<script type="text/javascript"> 
var myChart = echarts.init(document.getElementById('calendar'),'vintage');
var cellSize = [80, 80];
var pieRadius = 30;
var sDate = "{{ time_start }}";
var eDate = "{{ time_end }}";

var myarr = [];
function getVirtulData() {
    var date = +echarts.number.parseDate(sDate);
    var end = +echarts.number.parseDate(eDate);
    var dayTime = 3600 * 24 * 1000;
    var data = [];
    for (var time = date; time < end; time += dayTime) {
        data.push([
            echarts.format.formatTime('yyyy-MM-dd', time),
            Math.floor(Math.random() * 10000)
        ]);
		myarr= {{ data_string }};
    }
    return data;
}


function getPieSeries(scatterData, chart) {
    return echarts.util.map(scatterData, function (item, index) {
        var center = chart.convertToPixel('calendar', item);
        return {
            id: index + 'pie',
            type: 'pie',
            center: center,
            label: {
                normal: {
                    formatter: '{c}',
                    position: 'inside'
                }
            },
            radius: pieRadius,
            data: [
                {name: '错误', value: myarr[index][0]},
                {name: '正常', value: myarr[index][1]},
                {name: '警告', value: myarr[index][2]}
            ]
        };
    });
}

function getPieSeriesUpdate(scatterData, chart) {
    return echarts.util.map(scatterData, function (item, index) {
        var center = chart.convertToPixel('calendar', item);
        return {
            id: index + 'pie',
            center: center
        };
    });
}

var scatterData = getVirtulData();
console.log(scatterData.toString());
option = {
    tooltip : {},
    legend: {
        data: ['错误', '正常', '警告'],
        bottom: 20
    },
    calendar: {
        top: 'middle',
        left: 'center',
        orient: 'vertical',
        cellSize: cellSize,
        yearLabel: {
            show: false,
            textStyle: {
                fontSize: 30
            }
        },
        dayLabel: {
            margin: 20,
            firstDay: 1,
            nameMap: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六']
        },
        monthLabel: {
            show: false
        },
        range: [sDate, eDate]
    },
    series: [{
        id: 'label',
        type: 'scatter',
        coordinateSystem: 'calendar',
        symbolSize: 1,
        label: {
            normal: {
                show: true,
                formatter: function (params) {
                    return echarts.format.formatTime('dd', params.value[0]);
                },
                offset: [-cellSize[0] / 2 + 10, -cellSize[1] / 2 + 10],
                textStyle: {
                    color: '#000',
                    fontSize: 14
                }
            }
        },
        data: scatterData
    }]
};


  setTimeout(function () {
        pieInitialized = true;
        myChart.setOption({
            series: getPieSeries(scatterData, myChart)
        });
    }, 10);

myChart.setOption(option);
</script> 

<!-- <script type="text/javascript">  -->
<!-- var myChart = echarts.init(document.getElementById('meter')); -->

<!-- myChart.setOption(option); -->
<!-- </script>  -->
</body>

</html>